In [1]:
import pandas as pd

In [72]:
df = pd.read_excel("test_case_my.xlsx")

In [50]:
df.head(8)

,tabnum,subject,category,start_time,end_time,participants_count,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,101,Планерка,run,2021-05-13 09:00:00,2021-05-13 10:00:00,7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101,Встреча с Ивановым И.И.,partners,2021-05-13 09:00:00,2021-05-13 11:00:00,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101,Check up Недвижимость,run,2021-05-14 09:30:00,2021-05-14 10:10:00,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101,Завтрак,lifestyle,2021-05-14 09:00:00,2021-05-14 10:00:00,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101,Звонок: Наташа,run,2021-05-14 12:00:00,2021-05-14 13:00:00,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,101,Обед,lifestyle,2021-05-14 13:00:00,2021-05-14 14:00:00,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,101,Деловой завтрак с Петровым П.П. (Маккинзи),partners,2021-05-15 10:00:00,2021-05-15 11:00:00,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,101,Подготовка к презентации,run,2021-05-15 10:30:00,2021-05-15 13:00:00,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
import time as t
import datetime
user_id = 101
df_user = df[df["tabnum"] == 101]
rez = 0
full = 0
for index, row in df_user.iterrows():
    full_time = 0
    dt_start = pd.Timestamp(row['start_time']).to_pydatetime()
    dt_end = pd.Timestamp(row['end_time']).to_pydatetime()
    print(index, dt_start.hour, dt_end.hour)
    if(dt_end.time() <= datetime.time(10,0,0)): #event before need
        duration = dt_end - dt_start 
        rez += duration.total_seconds()
        full += duration.total_seconds()
        print("#1", duration.total_seconds(), duration.total_seconds())
    elif(dt_start.time() < datetime.time(10,0,0) and dt_end.time() > datetime.time(10,0,0)):
        deadline =  datetime.datetime(dt_start.year, dt_start.month, dt_start.day, 10, 0, 0)
        duration = deadline - dt_start 
        rez += duration.total_seconds()
        full += (dt_end - dt_start).total_seconds()
        print("#2", duration.total_seconds(), (dt_end - dt_start).total_seconds())
    else:
        full += (dt_end - dt_start).total_seconds()
        print("#3",(dt_end - dt_start).total_seconds())
print(rez/full)

0 9 10
#1 3600.0 3600.0
1 9 11
#2 3600.0 7200.0
2 9 10
#2 1800.0 2400.0
3 9 10
#1 3600.0 3600.0
4 12 13
#3 3600.0
5 13 14
#3 3600.0
6 10 11
#3 3600.0
7 10 13
#3 9000.0
8 12 14
#3 7200.0
0.2876712328767123

In [62]:
print(pd.unique(df["tabnum"]))

[101 102]

In [73]:
for user in pd.unique(df["tabnum"]):
    df_user = df[df["tabnum"] == user]
    rez = 0
    full = 0
    for index, row in df_user.iterrows():
        dt_start = pd.Timestamp(row['start_time']).to_pydatetime()
        dt_end = pd.Timestamp(row['end_time']).to_pydatetime()
        print(index, dt_start.hour, dt_end.hour)
        if(dt_end.time() <= datetime.time(10,0,0)): #event before need
            duration = dt_end - dt_start 
            rez += duration.total_seconds()
            full += duration.total_seconds()
            #print("#1", duration.total_seconds(), duration.total_seconds())
        elif(dt_start.time() < datetime.time(10,0,0) and dt_end.time() > datetime.time(10,0,0)):
            deadline =  datetime.datetime(dt_start.year, dt_start.month, dt_start.day, 10, 0, 0)
            duration = deadline - dt_start 
            rez += duration.total_seconds()
            full += (dt_end - dt_start).total_seconds()
            #print("#2", duration.total_seconds(), (dt_end - dt_start).total_seconds())
        else:
            full += (dt_end - dt_start).total_seconds()
            #print("[3-"+str(user)+"]",(dt_end - dt_start).total_seconds())
    print(rez/full)

0 9 10
1 9 11
2 9 10
3 9 10
4 12 13
5 13 14
6 10 11
7 10 13
8 12 14
0.2876712328767123
9 9 11
10 11 12
11 12 14
12 10 11
13 14 15
14 10 13
15 10 11
16 11 12
17 12 13
18 17 19
0.06741573033707865
19 9 10
1.0